/Zefania XML ZippedSources
/Zefania XML Sources
/0110_RegisterZefaniaXmlFiles/.vs
/0110_RegisterZefaniaXmlFiles/obj
/0110_RegisterZefaniaXmlFiles/packages
**.vshost.exe*
/0200_Level100Bibles/CsvSheetEditor/.vs
/0200_Level100Bibles/CsvSheetEditor/obj
/0200_Level100Bibles/RejewishBibleProcessor/packages
/0200_Level100Bibles/RejewishBibleProcessor/.vs
/0200_Level100Bibles/RejewishBibleProcessor/obj
/0200_Level100Bibles/RejewishBibleProcessor/bin
