/Zefania XML ZippedSources
/Zefania XML Sources
/0110_RegisterZefaniaXmlFiles/.vs
/0110_RegisterZefaniaXmlFiles/obj
/0110_RegisterZefaniaXmlFiles/bin/ZefaniaXmlTools.vshost.exe.config
/0110_RegisterZefaniaXmlFiles/bin/ZefaniaXmlTools.vshost.exe

0110_RegisterZefaniaXmlFiles/bin/ZefaniaXmlTools.vshost.exe.manifest